<!DOCTYPE html>
<link rel="stylesheet" href="/static/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="header">
  <h2>Keskustelusovellus</h2>
</div>

<body>

{% if session.user_name %}
<p>Olet kirjautunut nimellä {{ session.user_name }}</p>
<p>Rooli (1 = Käyttäjä, 2 = Admin) {{ session.user_role }}</p>
<p>Sinulle annetut pisteet: {{  pointss  }}</p>
<hr />
<p>Omat aiheet</p>
{% for f in favorites %}
<a href="/messages/{{ f.topic_id }}">Aihe: {{ f.content }}</a> <br />
{% endfor %}
<br/>
<p>Kaikki aiheet</p>
{% for t in topics %}
<br />
<a href="/messages/{{ t.id }}">Aihe: {{ t.topic }}</a> <br />
  Luotu: {{ t.created_at.strftime("%Y-%m-%d %H:%M:%S") }} <br />
  Alueen Id: {{ t.id }} <br />
  <a href="/new_favorite/ {{ t.id }} / {{ t.topic }}"> Lisää omiin aiheisiin</a> <br />
  <a href="/new_point/ {{ t.created_by }}"> Anna piste tekijälle</a> <br />
  {% endfor %}
  <br />
  <a href="/logout">Kirjaudu ulos</a> <br />
  <a href="/new_topic">Uusi keskustelu</a> <br />
  <a href="/search">Etsi viestejä</a> <br />
</div>
  {% else %}
  <a href="/login">Kirjaudu sisään</a><br />
  Luo uusi tunnus
  <a href="/register">tästä</a>

  {% endif %}
</a>

</body>
